################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/amex12.pdf
/amex12.pdf_dir
/.vs
